$color-primary: #FBD144;
$color-secondary: #FFE071;

$color-darkMode: #0C151D;
$color-lightMode: #E9EBEC;

$color-white: #FFFFFF;
$neutral-n20: #F1F2F4;
$neutral-n60: #C3C7CB;
$neutral-n80: #A3ABB2;

$neutral-n300: #6D6D6D;
$neutral-n500: #555;
$neutral-n700: #171F26;
$neutral-n900: #222;