@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-primary: 'Poppins', sans-serif;

$font-sizes: (
    "h1": 2rem,
    "h2": 1.5rem,
    "h3": 1.25rem,
    "h4": 1.125rem,
    "h5": 1.0625rem,
    "h6": 1rem,
    "body": 1rem,
    "caption": 0.875rem,
    "smaller-caption": 0.75rem
  );

  $font-weights: (
    "semi-bold": 400,
    "medium": 500,
    "regular": 400
  );